CREATE TABLE IF NOT EXISTS location_data
(
    `type` LowCardinality(String),
    `id` String,
    `name` String
)
<%= if @cluster? do %>
<% else %>
ENGINE = MergeTree()
<% end %>
ORDER BY (type, id)
